@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* Global Styles */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .display-flex{
    display: flex;
    }

  /* Header */
  .header {
    background: #fff;
    max-width: 1440px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    gap: 200px;;
}

.logo{
  align-items: center;
}

.navbar h3{
  font-weight: 700;
    font-size: 2rem;
    color: #111111;
}
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 10px;
  }

  .nav-links li a, .Home {
    color: #e68a00;
  }

  .nav-links li a, .About {
    color: #01ACFD;
  }

  .nav-links li a, .Facilities {
    color: #05D4DF;
  }

  .nav-links li a, .Admission {
    color: #5D58EF;
  }
  
  .nav-links a, .contact-btn {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid transparent;
  }

  .contact-btn {
    background: #ff9000;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 10px;
  
  }

  .contact-btn:hover {
    background: #e68a00;
  }

  /* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
}
  
  /*                                    banner Section                               */
  /* =============================================================================== */
  .banner-container {
    display: flex;
    max-width: 1160px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0;
    gap: 50px;
  }
  
  .banner-content {
    max-width: 1160px;
  }
  
  .banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .banner-content .Empowering{
    color: #FEA301;
  }
  .banner-content .vision {
    color: #01ACFD;
  }
  
  .banner-content p {
    margin-bottom: 20px;
    color: #111111;
  }
  
  .banner-content .btn {
    background: #000;
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .banner-content .btn:hover {
    background: #333;
  }

  .banner-container img{
    width: 100%;
  }
  
  /*                                     Curriculum Section                              */
  /* =================================================================================== */

  .curriculum{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .curriculum-container h2 {
    font-weight: 700;
    font-size: 2.88rem;
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    max-width: 1160px;
  }
  
  .curriculum-cards {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 10px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    background: linear-gradient(rgba(222, 245, 255, 1));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card .icon {
    margin-bottom: 15px;
  }
  
  .card .icon img {
    width: 60px;
    height: 60px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }

  .card a{
    text-decoration: none;
  }
  
  .card .kinder {
    font-weight: bold;
    color: #007bff;
    transition: color 0.3s ease;
  }

  .card .elementary{
    font-weight: bold;
    color: #F0AA00;
    transition: color 0.3s ease;
  }

  .card .middle {
    font-weight: bold;
    color: #8700FF;
    transition: color 0.3s ease;
  }
  
  .card .read-more:hover {
    color: #0056b3;
  }
  
  /* Pagination Buttons */
  .pagination {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    background-color: #ff9000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    margin: 0 5px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #e68a00;
  }
  
  /*                                     Our Stories Section                          */
  /* ================================================================================ */
  .our-stories{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .our-stories h2 {
  font-weight: 700;
  font-size: 2.88rem;
  text-align: center;
  margin-top: 30px;
  color: #000000;
  }
  
  .stories-grid {
    display: flex;
    max-width: 1160px;
    /* grid-template-columns: 1fr 4fr; */
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 20px;
  }

  .story {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  
  .featured-story {
    grid-column: span 2;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .featured-story img {
    width: 540px;
    height: 337px;
  }
  
  .featured-story .content {
    padding: 15px;
  }
  
  .featured-story .date {
    display: inline-block;
    background-color: #00bcd4;
    color: #fff;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius:50px;
    margin-bottom: 10px;
  }
  
  .featured-story h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .featured-story p {
    font-size: 1rem;
    color: #666;
    margin: 0 auto;
  }
  
  /* Smaller Stories */
  .story {
    display: grid;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(222, 245, 255, 1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .story:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
  }
  
  .story img {
    max-width: 291;
    max-height: 177;
  }
  
  .story .content {
    padding: 10px;
  }
  
  .story .date {
    display: inline-block;
    background-color: #673ab7;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 30px;
    margin-bottom: 5px;
  }
  
  .story h4 {
    font-size: 1rem;
    color: #000000;
  }
  
  /* View All Button */
  .view-all {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #111111;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-all:hover {
    background-color: #444;
  }
  
  
  /*                          Footer section style                             */
  /* ========================================================================= */
  .footer{
    margin: 0 auto;
    background: #01ACFD;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    max-width: 1071px;
    gap: 30px;
    color: #FFFFFF;
    padding: 20px 0;
    
  }
  
  .footer-about{
   max-width: 400px;
  }

  .about-logo .about-h3{
    display: flex;
  }

  .footer-about h3{
    font-weight: 700;
    font-size: 2.63rem;
  }

  .footer-about p{
    font-weight: 400;
    font-size: 1.25rem;
  }

  .footer ul {
    list-style: none;
  }
  
  .footer-links h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .footer-links a{
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
  }

  .footer-social h3{
    font-weight: 700;
    font-size: 1.63rem;
    color: #FFFFFF;
  }

  .footer-social ul{
    display: flex;
    border-radius: 4px;
    margin: 5px;
    gap: 5px;
  }
  
   /*                                  Responsive Design Mobile                           */
   /* =================================================================================== */
   @media (max-width: 768px) {
    
    .banner-container
      {
      flex-direction: column-reverse;
      text-align: center;
    }
  
    .banner-content {
      margin-top: 20px;
    }
  
    .navbar h3 {
      display: none;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #333;
      padding: 15px 20px;
      border-radius: 5px;
      width: 200px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }

    .curriculum-cards{
      flex-direction: column;
      align-items: center;
    }
    .stories-grid{
      flex-direction: column;
      align-items: center;
    }
    .featured-story{
      display: none;
    }

    .footer-container{
      flex-direction: column;
      text-align: center;
    }
  }